<p class="label">Suplier Stat By Imported Product</p>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 from">
            <label for="from-date" style="margin-right: 10px">From: </label>
            <input type="date" id="from-date">
        </div>
        <div class="col-md-3 to">
            <label for="to-date" style="margin-right: 10px">To: </label>
            <input type="date" id="to-date">
        </div>
        <div class="col-md-2">
            <button type="button" (click)="btn_search_click()" class="btn btn-primary">Search</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!--  -->